:root {
  --primary-color: blue;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hbox {
  position: relative;
  text-align: center;
}

.diamonds {
  background-color: var(--primary-color);
  height: 15px;
  width: 15px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

#one {
  position: absolute;
  top: 0;
  background-color: #fe6500 !important;
  left: 50%;
  transform: rotate(20deg);
  animation: stars 1000ms;
}

#two {
  position: absolute;
  top: 10px;
  left: 25%;
  background-color: #fe6500 !important;
  transform: rotate(-20deg);
  animation: stars 1000ms;
}

#three {
  position: absolute;
  top: 10px;
  right: 25%;
  transform: rotate(20deg);
  background-color: #fe6500 !important;
  animation: stars 1000ms;
}

#forth {
  position: absolute;
  top: -10px;
  right: 35%;
  transform: rotate(-10deg);
  background-color: var(--primary-color) !important;
  animation: stars 1000ms;
}

#fifth {
  position: absolute;
  top: -12px;
  left: 37%;
  transform: rotate(0deg);
  background-color: var(--primary-color) !important;
  animation: stars 1000ms;
}

@keyframes stars {
  from {
    transform: translateY(-10000%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes buttons {
  from {
    transform: translateY(10000%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes heading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(10000%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes background {
  from {
    transform: translateX(-10000%);
  }

  to {
    transform: translateX(0%);
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}

h1 {
  margin-bottom: 4rem;
  text-decoration: underline var(--primary-color);
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy;
  animation: heading 2000ms;
}

.left-box {
  height: 100vh;
  width: 100%;
  background-image: url(yuu.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: background 1000ms;
}

.container {
  background-color: #fe6500;
  width: 40%;
  min-width: 500px;
  border: 5px solid var(--primary-color);
  position: relative;
  animation: right-to-left 1000ms;
  z-index: 1;
  box-shadow: -5px 5px #a26bb4;
}

.timerDisplay {
  position: relative;
  width: 92%;
  background-color: #fe6500;
  left: 4%;
  padding: 40px 0;
  font-family: "Roboto mono", monospace;
  color: var(--primary-color);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  width: 90%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
  width: 40%;
  min-width: 500px;
  animation: buttons 1000ms;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 120px;
  height: 45px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.buttons button:nth-last-child(2) {
  background-color: var(--primary-color);
}
.buttons button:nth-last-child(1) {
  background-color: var(--primary-color);
}

form {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#form-button {
  width: 120px;
  height: 45px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  animation: buttons 1000ms;
}

input {
  width: 100px;
  height: 45px;
  border: 3px solid var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
  animation: buttons 1000ms;
}

span {
  display: block;
  margin-top: 4rem;
  font-size: 12px;
  text-align: center;
  font-family: "Crafty Girls", cursive;
  font-weight: 400;
  font-style: normal;
  animation: heading 3000ms;
}
